<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
  {% load pages_tags mezzanine_tags i18n staticfiles bgset thumbnail mez_theme %}

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {{ request|css_font_declarations }}

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "bootstrap.css" %}" />
    {% compress css %}
    <link rel="stylesheet" href="{% static "css/mezzanine.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/code/friendly.css' %}" />
    {% ifinstalled cartridge.shop %}
    <link rel="stylesheet" href="{% static "css/cartridge.css" %}" />
    {% endifinstalled %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "mez_theme/style.sass" %}" />
    <link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>

    {% block extra_head %}{% endblock %}

    <style type="text/css">
      {% if request.page.css %}{{ request.page.css }}{% endif %}
      {% if page.site.css %}{{ page.site.css }}{% endif %}
    </style>

  </head>

  {% block base_body_open %}
  {% include '_base_body_open.html' %}
  <!--body-->
  {% endblock %}

    <nav id="navmenu">
        {% if settings.SHOW_SEARCH %}
          {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
        {% endif %}

        {% block left_panel %}
        {% page_menu "pages/menus/tree.html" %}
        {% endblock %}

        {% get_language_info_list for LANGUAGES as languages %}
        <ul class="languages nav">
          {% for language in languages %}
              {% if not language.code == LANGUAGE_CODE %}
                  <li>
                    <a
                        href="/{{ language.code }}{% if page.slug %}/{{ page.slug }}{% endif %}"
                    >{{ language.name_local }}</a>
                  </li>
              {% endif %}
          {% endfor %}
        </ul>
    </nav>

    <header>
      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      {% if settings.SITE_TITLE %}<a class="navbar-brand" title="{{ settings.SITE_TITLE }}" href="/">{% if not page.site.logo %}{{ settings.SITE_TITLE }}{% else %}<img src="{{ page.site.logo.url }}" />{% endif %}</a>{% endif %}
    </header>

    <div
      id="body-container"
    >
        <section id="content-body" class="{% if page.full_screen %}full-screen{% endif %}">
          <div class="container">
            {% nevercache %}
              {% if messages %}
                <div class="messages">
                  {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endnevercache %}

            <!--
            <h1 class="page-title">{% block title %}{% endblock %}</h1>

            <ul class="breadcrumb">
            {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
            {% endspaceless %}
            </ul>
            -->

          </div>

          {% if not page.full_screen %}
          <div class="container">
            <div class="row">
              <div class="col-md-12 middle">
          {% endif %}

                {% block main %}
                {% endblock %}

          {% if not page.full_screen %}
              </div>
            </div>
            <div style="clear:both"></div>
          </div>
          {% endif %}

        </section>

        <footer>
          <div class="container">
            <div class="row full-width">
              <div class="col-xs-12 col-sm-3 columns">
                <i class="fi-laptop"></i>
                <h4>{{ settings.SITE_TITLE }}</h4>
                <p>
                  {% if settings.CONTACT_NAME %}
                    {{ settings.CONTACT_NAME }}
                    <br />
                  {% endif %}

                  {% if settings.CONTACT_LOCATION %}
                    {{ settings.CONTACT_LOCATION }}
                    <br />
                  {% endif %}

                  {% if settings.CONTACT_NUMBER %}
                    {{ settings.CONTACT_NUMBER }}
                  {% endif %}
                </p>
              </div>

              <div class="col-xs-12 col-sm-6 columns">
                <h4>SiteMap</h4>
                <ul class="footer-links">
                  {% page_menu "pages/menus/footer.html" %}
                </ul>
              </div>

              <div class="col-xs-12 col-sm-3 columns">
                <h4>External</h4>
                <ul class="footer-links">
                  <li>
                    <a href="http://libertalia.tv" title="Pirate Cognac">Pirate Cognac</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div style="clear:both"></div>
        </footer>
    </div>

  {% compress js %}
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/bootstrap-extras.js" %}"></script>
  <script src="{% static "bgset/plugins/bgset/ls.bgset.js" %}"></script>
  <script src="{% static "bgset/lazysizes.js" %}"></script>
  <script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $(window).scroll(function() {
      if ($(document).scrollTop() > 50) {
        $('header').addClass('scrolled');
      } else {
        $('header').removeClass('scrolled');
      }
    });

    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true,
        },
    });

    $('.hamburger').click(function() {
      if ($(this).hasClass('is-active')) {
        $('#body-container').removeClass('blur');
        $(this).removeClass('is-active');
        $('#navmenu').removeClass('show');
      } else {
        $('#body-container').addClass('blur');
        $('#navmenu').addClass('show');
        $(this).addClass('is-active');
      }
    });

    $('#navmenu li').click(function(e) {
      $('.hamburger.is-active').click()
      window.location = $(this).find('a').attr('href');
      e.preventDefault()
    });

    $('#content-body').click(function(e) {
      $('.hamburger.is-active').click();
      e.stopPropagation();
    });

    $(document).keyup(function(e) {
      if (e.keyCode == 27) {
        $('.hamburger').click();
      }
    });
  });
  </script>
  {% block extra_js %}{% endblock %}
  {% endcompress %}

  <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
  <![endif]-->

  {% block footer_js %}
  {% include "includes/footer_scripts.html" %}
  {% endblock %}

</body>
</html>
