{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}
{% load thumbnail_url from thumbnail %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}

<div class="gallery row">
{% with page.gallery.images.all as images %}
{% for image in images %}
<div class="col-xs-4 col-sm-3">
    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ image.file|thumbnail_url:'750w' }}">
        <img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail image.file 131 131 %}">
    </a>
</div>
{% endfor %}
{% endwith %}
</div>
{% endblock %}
