
$ms-base: 1em
$ms-ratio: 1.42
@import 'modularscale/stylesheets/_modular-scale.scss'

$hamburger-layer-color: #FFF
@import 'hamburgers/_sass/hamburgers/hamburgers.scss'

/* fix mezanine.css */
body
  padding-top: 0 !important

.alert
  background-image: none !important

.my-mfp-slide-bottom.mfp-wrap
  height: auto !important

.my-mfp-slide-bottom.mfp-bg
  opacity: 1 !important
  background: transparent !important

.product-sorting
  display: none

/* If there's a background image all our text should look white */
body.font-white
  *, *:hover, *:visited
    color: white

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    background-color: white

body
  *, *:hover, *:visited
    color: black

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
    background-color: black

#background-container
  position: fixed
  display: block
  z-index: -10
  background-size: cover

#background-container, #background-container-color
  width: 100%
  height: 100%

#body-container
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  transition: filter .2s linear
  animation: background-deblur .2s cubic-bezier(1, 1.99, 1, 1.91)

#body-container.blur
  filter: blur(8px)

@keyframes background-deblur
  100%
    filter: blur(0)

#content-body
  min-height: 98vh

  iframe
    height: 80vh

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

#navmenu.show
  display: block

#navmenu
  display: none
  position: fixed
  right: 6vw
  top: 5em
  left: 6vw
  z-index: 100
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  animation: fade-in .3s linear

  li:hover
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.20)
    cursor: pointer

  li
    padding: .7em 3em
    background-color: rgba(0, 0, 0, .9)
    text-align: center
    font-size: 2em
    border-collapse: collapse
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)

    a
      color: white
      width: 100%
      height: 100%
      display: block

    a:hover
      text-decoration: none

  .navlist-menu-level-0
    margin: 0

header
  position: fixed

  *:visited, *:hover, *:focus
    text-decoration: none

@media (max-width: 800px)
  header
    .navbar-brand
      font-size: 2em
  #content-body
    padding-top: 3em

@media (min-width: 800px)
  header
    .navbar-brand
      font-size: 3em
  #content-body
    padding-top: 4em

@media (min-width: 1024px)
  header
    .navbar-brand
      font-size: 3em
  #content-body
    padding-top: 4em

.box-shadow-menu:before
  width: 3.5em
  background: #878787
  box-shadow: 0 1em 0 0 #878787, 0 2em 0 0 #878787

.font-white .box-shadow-menu:before
  background: white
  box-shadow: 0 1em 0 0 white, 0 2em 0 0 white

.box-shadow-menu
  position: relative

header .nav
  animation: menu-anim 5s infinite linear

@keyframes menu-anim
  from
    transform: scale(1) translateX(0)
  50%
    transform: scale(1.3) translateX(-10px) translateY(10px)
  to
    transform: scale(1) translateX()

.box-shadow-menu:before
  content: ""
  position: absolute
  left: 0
  height: 0.4em

.gallery
  .thumbnail img
    padding: 1em 0

footer
  background-color: rgba(0, 0, 0, .75)
  text-align: center
  width: 100%

  *, *:hover, *:focus, *:visited, a, a:hover, a:focus, a:visited
    color: white

  li
    list-style-type: none
  ul
    margin-left: 0
    padding-left: 0

.form-actions
  background: none

.panel.rating
  display: none

.old-price
  font-size: 1.8em

.price
  font-size: 2em

.font-white .side-buy
  background-color: rgba(0, 0, 0, .8)

.side-buy
  font-size: 1em
  padding-left: 1em
  line-height: 1.2em
  position: fixed
  right: 0
  top: 0

  ul
    padding-left: 0

  li
    list-style-type: none

  input[type=submit]
    background: none !important
    border: none
    color: inherit
    font: inherit
    padding: 0 !important
    font-weight: bold
    display: block

.form-actions
  border: 0px black solid
  padding: 0

#variations
  padding-bottom: 1em

.input_id_quantity
  display: none
