{% load i18n pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}

{% for page in page_branch %}
<li>
    <a href="{{ page.get_absolute_url }}" title="{{ page.title }}">{{ page.title }}</a>
</li>
{% endfor %}

{% endif %}
{% endspaceless %}
